.configure-leave-container {
  background-color: #FAFAFA;
  box-shadow: 0 1px 6px 0 rgba(70,75,86,0.3);
}
.delete-leave-configuration {
  margin-top: 21px;
  margin-left: 16px;
}
.toggle-tab-section {
  right: 24px;
  z-index: 999;
}