<div class="leaves-configurarion-section">
  <div class="leaves-configuration-title-holder">
    <h3 class="d-inline-block text-uppercase medium-text small-font header-text mr-3">CONFIGURE LEAVES</h3>
    <h3 class="d-inline-block text-uppercase small-font menu-active pointer">ADD NEW</h3>
  </div>
  <div class="leave-type-configurarion-container">
    <div class="each-leave-type-configurarion">
      <div class="d-inline-block configure-leave-container p-4 position-relative" style="height: 374px;width: 823px;">
        <div class="toggle-tab-section d-inline-block align-top position-absolute pointer">
            <img src="../../assets/down-arrow.png" alt="Down Arrow Icon"/>
        </div>
        <div class="edit-leave-type-section">
          
        </div>
        <div class="show-leave-summery-section">
          
        </div>
      </div>
      <div class="d-inline-block delete-leave-configuration align-top">
        <p class="d-inline-block text-uppercase header-text small-font m-0 pointer">DELETE</p>
      </div>
    </div>
  </div>
</div>