<div class="header">
    <div class="text-right float-left">
        <a routerLink="/dashboard">
            <img class="uxr-logo" src="../../assets/uxreactor-logo.png" alt="Header UXReactor Logo" />
            <img src="../../assets/leave-management-header-logo.png" alt="Leave Management Header Logo" />
        </a>
    </div>
    <div class="d-inline-block float-right">
        <div class="float-left navigation-section">
            <ul class="header-text small-font">
                <li class="pointer" routerLinkActive="menu-active" routerLink="dashboard">Dashboard</li>
                <li class="pointer" routerLinkActive="menu-active" routerLink="attendance">Attendance</li>
                <li class="pointer" routerLinkActive="menu-active" routerLink="employees">Employees</li>
                <li class="pointer" routerLinkActive="menu-active" routerLink="organization">Organization</li>
            </ul>
        </div>
        <div class="notification-section float-left">
            <img class="pointer notification-icon" src="../../assets/header-notification-icon.png" alt="Header Notification Icon" />
        </div>
        <div class="profile-section float-left pointer">
            <div class="d-inline-block" (click)="toggleProfileOptions()">
                <p class="m-0 header-text small-font d-inline-block profile-name">Rajesh Kumar Chekka</p>
                <img class="profile-down-arrow" [hidden]="hideProfileOptions" src="../../assets/down-arrow.png" alt="Down Arrow" />
                <img class="profile-down-arrow" [hidden]="!hideProfileOptions" src="../../assets/active-down-arrow.png" alt="Down Arrow" />
            </div>
            <div #listView class="position-relative">
                <ul class="profile-more-options-section p-0 m-0">
                    <li><a routerLink="">Profile</a></li>
                    <li><a routerLink="">Configuration</a></li>
                    <li><a routerLink="">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>