.header {
    height: 68px;
    padding: 8px 0;
    margin: 0 50px;
    border-bottom: 0.5px solid #D4D8E6;
}

.uxr-logo {
    margin-right: 21px;
}

.navigation-section ul {
    padding: 17px 0;
}

.navigation-section ul li {
    display: inline;
    padding: 0 25px;
}

.navigation-section ul li:focus {
    outline: none;
}

.notification-section,
.profile-section {
    padding: 16px 22px 0 0;
}

.notification-icon {
    border-left: .5px solid #464B56;
    padding-left: 40px;
}

.profile-section {
    padding-top: 8px;
    padding-right: 0;
}

.profile-name {
    max-width: 128px;
}

.profile-down-arrow {
    float: right;
    padding: 5px 0;
}

.profile-more-options-section {
    position: absolute;
    background: #fff;
    right: 0;
    top: 12px;
    list-style-type: none;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.profile-more-options-section li {
    padding: 8px 16px;
    border-bottom: 0.5px solid #D4D8E6;
}