.employees-on-leave tbody {
    max-height: 230px;
    overflow-y: auto;
    display: block;
    min-height: 200px;
}

.employees-on-leave thead,
.employees-on-leave tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.employees-on-leave-section {
    margin-top: 12px;
}

.employees-on-leave tbody tr td {
    border-top: 0;
    border-bottom: 1px solid #D4D8E6;
    padding: 10px;
    word-wrap: break-word;
}

.employees-on-leave thead {
    width: calc( 100% - 0.5em);
}

.employees-on-leave thead tr th {
    border: 0;
}


/* Needs to discuss for global usage */
.error-state {
    height: 230px;
    padding: 100px 0;
    text-align: center;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #f1f3f6;
    border-radius: 10px;
}
/* Needs to discuss for global usage */

.employees-on-leave-name-column {
    width: 60%;
}

.employees-on-leave-duration-column {
    width: 40%;
}