<div>
    <h2 class="normal-font header-text mb-0 d-inline-block medium-text">Employees on Leave</h2>
    <div class="regular-text">
        <div class="employees-on-leave-section" *ngIf="employeeData.length; else showEmptyState">
            <table class="table employees-on-leave">
                <thead>
                    <tr class="text-uppercase extra-small-font">
                        <th class="regular-text pl-0 employees-on-leave-duration-column">Duration</th>
                        <th class="regular-text pl-0 employees-on-leave-name-column">Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employeesOnLeaveList of employeeData" class="small-font header-text">
                        <td class=" pl-0 employees-on-leave-duration-column" *ngIf="employeesOnLeaveList.duration === oneDay || employeesOnLeaveList.duration === halfDay">
                            {{employeesOnLeaveList.leave_start_time}}
                            <span class="extra-small-font regular-text body-text"> ({{employeesOnLeaveList.duration}} Day)</span>
                        </td>
                        <td class=" pl-0 employees-on-leave-duration-column" *ngIf="employeesOnLeaveList.duration > oneDay">
                            {{employeesOnLeaveList.leave_start_time | date: 'MMM dd'}} - {{employeesOnLeaveList.leave_end_time | date: 'MMM dd'}}
                            <span class="extra-small-font regular-text body-text"> ({{employeesOnLeaveList.duration}} Days)</span>
                        </td>
                        <td class="text-capitalize pl-0 employees-on-leave-name-column">{{employeesOnLeaveList.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ng-template #showEmptyState>
            <div class="error-state">
                <p class="normal-font body-text">There is <span class="medium-text">no data</span> to display</p>
            </div>
        </ng-template>
    </div>
</div>