<div class="dropdown-parent relative">
  <div class="dropdown pointer">
    <input type="text" class="dropdown-label mb-0 small-font header-text w-75" readonly [(ngModel)]="ddValue" />
    <img src="../assets/down-arrow.png" alt="Dropdown Arrow" class="float-right dropdown-arrow" />
  </div>
  <div #list class="dropdown-options absolute small-font body-text">
    <ul class="pl-0 mb-0">
      <li *ngFor="let option of ddOptions; let index = index" id="each-dropdown-option-{{index}}" (click)="selectDropdownValue(index)">{{option.value}}</li>
    </ul>
  </div>
</div>
