
.search-suggestions-options {
    position: absolute;
    background: #ffffff;
    z-index: 10;
    top: 40px;
    left: 0;
    right: 0;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.15);
}

.search-suggestions-options ul li {
    padding: 8px 16px;
    margin-bottom: 0;
    border-bottom: 1px solid #888B92;
    list-style-type: none;
    cursor: pointer;
}

.search-suggestions-options ul li:last-child {
    border-bottom: 0;
}

.search-suggestions-options ul li:hover {
    background:#F9FAFB;
}

.search-suggestions-container {
    top: 8px;
	box-shadow: unset;
    padding: 4px;
    padding-bottom: 0;
    border-bottom: 2px solid #888B92;
}