<div class="relative search-suggestions-container">
    <div>
        <input #searchSuggestion type="text" class="mb-0 small-font header-text w-75 suggestions-input" (keyup)="getSearchSuggestions()"  [(ngModel)]="suggestionValue" placeholder="Search Here..."/>
        <img src="../assets/search.png" alt="Search Icon" class="float-right" />
    </div>
    <div #list class="search-suggestions-options absolute small-font body-text d-none">
        <ul class="pl-0 mb-0">
            <li *ngFor="let option of searchResults; let index = index" (click)="selectSuggestionValue(option)">{{option}}</li>
        </ul>
    </div>
</div>
