/* You can add global styles to this file, and also import other style files */


/*Font Family Rubik Classes Starts Here*/

@font-face {
    font-family: rubik_black;
    src: url(../node_modules/rubik-font/fonts/Rubik-Black.ttf);
}

@font-face {
    font-family: rubik_black_italic;
    src: url(../node_modules/rubik-font/fonts/Rubik-BlackItalic.ttf);
}

@font-face {
    font-family: rubik_bold;
    src: url(../node_modules/rubik-font/fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: rubik_bold_italic;
    src: url(../node_modules/rubik-font/fonts/Rubik-BoldItalic.ttf);
}

@font-face {
    font-family: rubik_italic;
    src: url(../node_modules/rubik-font/fonts/Rubik-Italic.ttf);
}

@font-face {
    font-family: rubik_light;
    src: url(../node_modules/rubik-font/fonts/Rubik-Light.ttf);
}

@font-face {
    font-family: rubik_light_italic;
    src: url(../node_modules/rubik-font/fonts/Rubik-LightItalic.ttf);
}

@font-face {
    font-family: rubik_medium;
    src: url(../node_modules/rubik-font/fonts/Rubik-Medium.ttf);
}

@font-face {
    font-family: rubik_medium_italic;
    src: url(../node_modules/rubik-font/fonts/Rubik-MediumItalic.ttf);
}

@font-face {
    font-family: rubik_regular;
    src: url(../node_modules/rubik-font/fonts/Rubik-Regular.ttf);
}


/*Font Family Rubik Classes Ends Here*/


/*Font Weight Classes Starts Here*/

.bold-text {
    font-family: rubik_bold;
}

.medium-text {
    font-family: rubik_medium;
}

.regular-text {
    font-family: rubik_regular;
}

.light-text {
    font-family: rubik_light;
}


/*Font Weight Classes Ends Here*/


/*Font Styles Classes Starts Here*/

.italic-text {
    font-family: rubik_italic;
}


/*Font Styles Classes ends Here*/


/*Font Sizes Classes Starts Here*/

.large-font {
    font-size: 30px;
}

.normal-font {
    font-size: 20px;
    line-height: 24px;
}

.small-font {
    font-size: 15px;
    line-height: 18px;
}

.extra-small-font {
    font-size: 13px;
    line-height: 15px;
}

.tiny-font {
    font-size: 10px;
    line-height: 12px;
}


/*Font Sizes Classes Ends Here*/


/*Primary Action Properties Starts Here*/

.primary-action {
    font-size: 15px;
    color: #fff;
    background: #2196F3;
    padding: 10px 16px;
    border: 0;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    line-height: 15px;
    font-family: rubik_medium;
}

.primary-action:hover {
    background: #2979FF;
}

.primary-action:focus {
    background: #0D47A1;
    outline: 0;
}

.strong {
    font-weight: bold;
    color: #464B56;
}


/*Primary Action Properties Ends Here*/


/*Secondary Action Properties Starts Here*/

.secondary-action {
    background: #fff;
    color: #464B56;
    border: 1px solid #888b92;
    padding: 10px 16px;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    line-height: 15px;
}

.secondary-action:hover {
    border: 1px solid #2196F3;
    color: #2196F3;
}

.secondary-action:focus {
    border: 1px solid #2196F3;
    color: #2196F3;
    background-color: #E8F5FF;
}


/*Secondary Action Properties Ends Here*/


/*Disabled Button Properties Starts Here*/

.disabled-button {
    padding: 10px 16px;
    border: 0;
    border-radius: 2px;
    color: #fff;
    background-color: #888B92;
    pointer-events: none;
    cursor: not-allowed;
    line-height: 15px;
    opacity: 0.4;
}


/*Disabled Button Properties Starts Here*/


/*Third Action Properties Starts Here*/

.tertiary-action {
    font-size: 15px;
    color: #2196F3;
    text-transform: uppercase;
    padding: 10px 16px;
    cursor: pointer;
}

.tertiary-action:hover {
    color: #1976D2;
}

.tertiary-action:focus {
    color: #1976D2;
    border-radius: 2px;
    border: 1px solid #2196F3;
    outline: none;
}

.tertiary-action-disabled {
    color: #888B92;
}

.form-label {
    text-transform: uppercase;
    color: #888B92;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 10px;
}

.pointer {
    cursor: pointer;
}

.relative {
    position: relative;
}


/*Third Action Properties Ends Here*/


/*Text Colors Starts Here*/

.header-text {
    color: #464B56;
}

.body-text {
    color: #888B92;
}

.links {
    color: #2979FF;
}

.menu-active {
    color: #2196F3;
    font-family: rubik_medium;
}

.header-menu ul li:hover {
    color: #2196F3;
}

.links:hover {
    color: #0D47A1;
    text-decoration: underline;
}


/*Text Colors Ends Here*/


/*Background Colors Starts Here*/

.top-navigation-background,
.side-bar-background {
    background: #FFFFFF;
}

.content-background {
    background: #F2F4F6;
}

.section-background {
    background: #FDFEFE;
}

.footer-background {
    background: #FAFAFA;
}


/*Background Colors Ends Here*/


/*Box Shadow Starts Here*/

.top-navigation-shadow {
    box-shadow: 0 2px 4px 0 rgba(136, 139, 146, 0.22);
}


/*Box Shadow Ends Here*/


/*Element Properties Starts Here*/

.on-time-background {
    background: #4CAF50;
}

.late-background {
    background: #FFC107;
}

.casula-leave-background {
    background: #616161;
}

.sick-leave-background {
    background: #F26C4F;
}

.on-duty-background {
    background: #FF9800;
}

.holiday-background {
    background: #26A69A;
}

.pending-background {
    background: #797BD1;
}

.pending-text {
    color: #797BD1;
}

.approved-text {
    color: #4CAF50;
}

.rejected-text {
    color: #F26C4F;
}


/*Element Properties Ends Here*/


/*Opacities Starts Here*/

.primary-opacity {
    opacity: 0.6;
}

.secondary-opacity {
    opacity: 0.8;
}


/*Opacities Ends Here*/


/*Pointer Starts Here*/

.pointer {
    cursor: pointer;
}

textarea:focus,
input:focus {
    outline: none;
}


/*Pointer Ends Here*/

body {
    font-size: 15px;
    font-family: rubik_regular;
    color: #888B92;
    min-width: 1080px;
    background: #FFFFFF;
    overflow: auto;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

a {
    color: inherit;
}

a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

/*Request Leave Model styles start*/

.calendar-section .leave-request-date-picker .mydp{
    width: 70% !important;
}
.calendar-section .leave-request-date-picker .mydp .headertodaybtn {
	display: none;
}
.request-leave-modal .search-suggestions input{
    border: none;
    width: 90% !important;
}

/*Request Leave Model styles end*/

/*Customized Calendar CSS Starts Here*/

.calendar-section .mydp {
	border: 0;
}

.calendar-section .mydp .selectiongroup input {
    border: 0;
	border-bottom: 1px solid #888B92;
	border-radius: 0;
	font-size: 15px !important;
	color: #464B56;
}

.graph-calendar-section .mydp .selectiongroup input {
	display: none;
}

.calendar-section .mydp .selectiongroup .selbtngroup {
	visibility: hidden;
}

.calendar-section .mydp .selectorarrow {
	background: #fff;
}

.calendar-section .mydp .selectorarrow .header {
	background: #fff;
	padding: 8px;
}

.calendar-section .mydp .selectorarrow .header tbody tr td {
	font-size: 20px;
	color: #464B56;
}

.calendar-section .mydp .headerlabelbtn {
	font-size: 15px;
	color: #464B56;
	font-family: rubik_regular;
}

.calendar-section .mydp .header tr td {
	padding-top: 20px;
	padding-bottom: 10px;
	background: #fff;
}

.calendar-section .mydp .headertodaybtn {
	border: 0;
}

.calendar-section .mydp .headertodaybtn:hover {
	background: transparent;
}

.calendar-section .mydp .headertodaybtn .icon-mydptoday {
	display: none;
}

.calendar-section .mydp .headertodaybtn span {
	font-size: 15px;
	color: #2196F3;
	font-family: rubik_bold;
	text-transform: uppercase;
}

.calendar-section .mydp .daycell:focus, 
.calendar-section .mydp .monthcell:focus, 
.calendar-section .mydp .yearcell:focus {
	outline: 0;
}

.calendar-section .mydp .headeryeartxt {
	width: auto;
}

.calendar-section .mydp .weekdaytitle {
	background: #fff;
	font-size: 10px;
	color: #888B92;
	text-transform: uppercase;
	padding: 10px 0 15px 0;
}

.calendar-section .mydp .caltable tbody .daycell .prevmonth {
	font-size: 15px;
	color: #464B56;
	font-weight: 300;
	opacity: 0.3;
}

.calendar-section .mydp .caltable tbody {
	background: #fff;
}

.calendar-section .mydp .caltable tbody .daycell {
	font-size: 15px;
	color: #464B56;
	font-weight: 300;
	background: #fff;
	color: #464B56;
	padding: 8px;
}

.calendar-section .mydp .tablesingleday:hover, 
.calendar-section .mydp .tablesinglemonth:hover, 
.calendar-section .mydp .tablesingleyear:hover {
	background: #fff;
	color: #464B56;
}

.calendar-section .mydp .caltable tbody .disabled {
	background: #efefef;
	color: #888b92 !important;
	cursor: not-allowed !important;
}

.calendar-section .mydp .highlight {
	color: #888b92;
}

.calendar-section .mydp .selectedday {
	background: #2196F3 !important;
	color: #fff !important;
	border-radius: 50%;
}

.calendar-section .mydp .selectedday .datevalue, 
.calendar-section .mydp .selectedmonth .monthvalue, 
.calendar-section .mydp .selectedyear .yearvalue {
	background: transparent;
}

.calendar-section .mydp .selector {
	border: 0;
	box-shadow: none;
	background: #fff;
}

.calendar-section .mydp .mydpicon {
	color: #464B56;
	opacity: 0.5;
}

.highcharts-credits {
    display: none;
}

.highcharts-legend-item text {
	text-transform: uppercase;
}

/*.calendar-section .mydp .header {
	background: #fff;
	border: 1px solid #888b92;
	border-bottom: 0;
}

.calendar-section .mydp .caltable {
	background: #fff;
	border: 1px solid #888b92;
	border-top: 0;
}*/

.calendar-section .mydp .selector {
	width: 255px !important;
}

.calendar-section .mydp .dimday {
	opacity: 1;;
}

/*Customized Calendar CSS Ends Here*/
