.request-leave-modal {
	padding: 32px 32px 32px 50px;
	position: absolute;
	top: 37px;
	right: 0;
	width: 630px;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);
	background: #fff;
	z-index: 2;
}
.request-leave-model-inputs-section {
    width: 48%;
}
.leave-limit-exceeded {
    color: #F26C4F;
}
.request-leave-modal h2 {
	font-weight: bold;
}
.request-leave-modal .cancel, .global-notifications .cancel {
	height: 32px;
	width: 32px;
	border: 0.5px solid #616161;
	float: right;
	border-radius: 16px;
	text-align: center;
	padding-top: 1px;
}
.custom-form input  {
	border: 0;
	border-bottom: 2px solid #888B92;
	border-radius: 0;
	padding-left: 0;
}
.custom-form input:focus {
	outline: 0;
	box-shadow: 0 0 0 #fff;
	border-bottom: 2px solid #888B92;
}
.duration-field input {
	width: 170px;
}
.search-suggestions-container, .lm-dropdown {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 2;
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.15);
}
.search-suggestions ul, .lm-dropdown ul{
	margin-bottom: 0;
}
.search-suggestions ul li, .lm-dropdown ul li, .tooltip-body ul li {
	padding: 8px 16px;
	border-bottom: 0.5px solid rgba(70, 75, 86, 0.3);
}
.search-suggestions ul li:last-child, .lm-dropdown ul li:last-child, .tooltip-bod ul li:last-child {
	border-bottom: 0;
}
.notify-field {
	background: url("./../../../../assets/search.png") no-repeat center right;
}
.dropdown.more {
	background: url("./../../../../assets/down-arrow.png") no-repeat center right;
}
.calendar-section .leave-request-meridiem-section{
    width: 30%;
    vertical-align: top;
    margin-top: 10px;
}
.selected-notifiers-list {
    top: 24px;
    position: relative;
}
.selected-notifiers-list .close-notifier-icon{
	padding: 5px;
	border: 1px solid #616161;
	border-radius: 50%;
}