<div class="d-inline-block float-right">
    <button class="primary-action request-leave-btn" (click)="showModal = !showModal">
        <span *ngIf="userType === userTypeCeo" >Notify Leave</span>
        <span *ngIf="userType === userTypeMember">Send Request</span>
    </button>
</div>
<div *ngIf="showModal" class="request-leave-modal">
    <div class="clearfix mb-3">
        <h2 class="mb-0 float-left normal-font header-text" *ngIf="userType === userTypeCeo">Notify Leave</h2>
        <h2 class="mb-0 float-left normal-font header-text" *ngIf="userType === userTypeMember">Request Leave</h2>
        <div class="cancel pointer close" (click)="showModal = false">
            <img src="./../../../../assets/close.svg" alt="Close Icon" />
        </div>
    </div>
    <div class="form">
        <form class="custom-form request-leave-form" name="myForm" novalidate (ngSubmit)="applyLeave()" #requestLeaveForm="ngForm">
            <div class="duration-field">
                <label class="form-label">DURATION</label>
                <div class="row m-0">
                    <div class="calendar-section d-inline-block col-md-6 pr-2 pl-0">
                        <my-date-picker [options]="leaveDatePickerOptions" [selDate]="leaveSelectedStartDate" (dateChanged)="onLeaveStartDateChanged($event);caculateNoOfLeaves();" class="pl-0 ml-0 leave-request-date-picker"></my-date-picker>
                        <div class="small-font d-inline-block leave-request-meridiem-section float-right pl-1">
                            <p class="d-inline-block px-1 mb-0 pointer" (click)="(startLeaveMeridiem = meridiemAm) && ((startLeaveAmMeridiemStatus = !startLeaveAmMeridiemStatus) && (startLeavePmMeridiemStatus = false))" [ngClass]="{'menu-active': (startLeaveMeridiem === meridiemAm) && (startLeaveAmMeridiemStatus)}">AM</p>
                            <p class="px-1 d-inline-block mb-0 pointer" (click)="(startLeaveMeridiem = meridiemPm) && ((startLeavePmMeridiemStatus = !startLeavePmMeridiemStatus) && (startLeaveAmMeridiemStatus = false))" [ngClass]="{'menu-active': (startLeaveMeridiem === meridiemPm) && (startLeavePmMeridiemStatus)}">PM</p>
                        </div>
                    </div>
                    <div class="calendar-section d-inline-block col-md-6 pl-2 pr-0">
                        <my-date-picker [options]="leaveDatePickerOptions" [selDate]="leaveSelectedEndDate" (dateChanged)="onLeaveEndDateChanged($event);caculateNoOfLeaves();" class="pl-0 ml-0 leave-request-date-picker"></my-date-picker>
                        <div class="small-font d-inline-block leave-request-meridiem-section float-right pl-1">
                            <p class="d-inline-block px-1 mb-0 pointer" (click)="(endLeaveMeridiem = meridiemAm) && ((endLeaveAmMeridiemStatus = !endLeaveAmMeridiemStatus) && (endLeavePmMeridiemStatus = false))" [ngClass]="{ 'menu-active': (endLeaveMeridiem === meridiemAm) && (endLeaveAmMeridiemStatus) }">AM</p>
                            <p class="px-1 d-inline-block mb-0 pointer" (click)="(endLeaveMeridiem = meridiemPm) && ((endLeavePmMeridiemStatus = !endLeavePmMeridiemStatus) && (endLeaveAmMeridiemStatus = false))" [ngClass]="{ 'menu-active': (endLeaveMeridiem === meridiemPm) && (endLeavePmMeridiemStatus) }">PM</p>
                        </div>
                    </div>
                </div>
                <div *ngIf="userType != userTypeCeo" class="mt-3 text-uppercase form-label">No of leaves:
                    <span *ngIf="noOfLeaves != 1; else TotalLeaveTaken">{{noOfLeaves}} Days</span>
                    <ng-template #TotalLeaveTaken>
                        <span>{{noOfLeaves}} Day</span>
                    </ng-template>
                </div>
            </div>
            <div class="mt-4">
                <label class="form-label">LEAVE TYPE</label>
                <div class="small-font form-group m-0">
                    <p class="d-inline-block pr-3 mb-0 pointer" (click)="(leaveType = privilegeLeave) && (leaveBalance = privilegeLeaveBalance)" [ngClass]="{'menu-active': leaveType === privilegeLeave}">PRIVILEGE LEAVE</p>
                    <p class="pl-3 pr-3 d-inline-block mb-0 pointer" (click)="(leaveType = sickLeave) && (leaveBalance = sickLeaveBalance)" [ngClass]="{'menu-active': leaveType === sickLeave}">SICK LEAVE</p>
                    <p class="pl-3 pr-3 d-inline-block mb-0 pointer" (click)="(leaveType = specialLeave) && (leaveBalance = specialLeaveBalance)" [ngClass]="{'menu-active': leaveType === specialLeave}">SPECIAL LEAVE</p>
                </div>
            </div>
            <div *ngIf="userType != userTypeCeo">
                <p class="mt-4 text-uppercase form-label">leave balance:
                    <span>{{leaveBalance}}</span>
                </p>
                <p *ngIf="leaveBalance < leavesTaken" class="d-none mt-3 mb-4 extra-small-font leave-limit-exceeded">As you didn't have enough leave balance,
                    <span *ngIf="leavesTaken - leaveBalance === 1; else leavesLimitCross">{{leavesTaken - leaveBalance }} day</span>
                    <ng-template #leavesLimitCross>
                        <span *ngIf="leavesTaken - leaveBalance">{{leavesTaken - leaveBalance }} days</span>
                    </ng-template>
                    will be considered as loss of pay.</p>
            </div>
            <div class="approver-and-reason-fields mt-4">
                <div class="row">
                    <div *ngIf="userType != userTypeCeo" class="col-md-6 form-group m-0 pr-3 mt-1">
                        <label class="form-label">Who Will Approve Your Leaves</label>
                        <div class="position-relative form-group m-0 mb-4">
                            <app-dropdown [(ddValue)]="informer" [(ddOptions)]="informerOptions" class="profile-dropdown" id="profile-dropdown"></app-dropdown>
                        </div>
                    </div>
                    <div [ngClass]="{'col-md-12': userType === userTypeCeo}" class="col-md-6 form-group m-0 pl-3">
                        <label class="form-label">REASON</label>
                        <input [(ngModel)]="leaveReason" type="text" name="leaveReason" id="leaveReason" required class="form-control small-font header-text d-inline-block" placeholder="Reason" #reasonForLeave="ngModel" />
                        <div *ngIf="(reasonForLeave.invalid && (reasonForLeave.dirty || reasonForLeave.touched) || (reasonErrorMessage && !leaveReason))" class="mt-2">
                            <img src="./../../../../assets/error.svg" alt="Error Icon" class="mr-2" />
                            <span>Please enter the leave reason</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-6 form-group m-0 pr-3 mb-4">
                        <label class="form-label">Notify TO: (Optional)</label>
                        <div class="position-relative">
                            <!-- YCR: User also can search based on tha mail  -->
                            <app-search-suggestions [(suggestionValue)]="notifier" [(selectedNotifier)]="selectedNotifiersList" [(suggestionOptions)]="notifierOptions" class="search-suggestions" id="search-suggestions"></app-search-suggestions>
                            <div class="selected-notifiers-list">
                                <ul class="small-font header-text">
                                    <li *ngFor="let userNames of selectedNotifiersList; let index = index" class="mb-2">{{userNames}} <img class="ml-2 close-notifier-icon" src="./../../../../assets/close.svg" alt="Close Icon" (click)="removeNotifier(index)" /> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group m-0 pl-3 mb-4">
                        <label class="form-label">COMMENT: (Optional)</label>
                        <input [(ngModel)]="leaveComment" type="text" name="leaveComment" id="leaveComment" required class="form-control small-font header-text d-inline-block mt-1" placeholder="Type a comment" #commentForLeave="ngModel" />
                    </div>
                </div>
            </div>
            <div class="request-leave d-inline-block ml-5 float-right">
                <button class="primary-action">
                    <span *ngIf="userType === userTypeCeo" >Notify Leave</span>
                    <span *ngIf="userType === userTypeMember">Send Request</span>
                </button>
            </div>
        </form>
    </div>
</div>
