<div class="footer">
    <div class="d-inline-block">
        <p class="light-text extra-small-font body-text m-0">Copyright. 2018 UXReactor. All Rights Reserved.</p>
    </div>
    <div class="text-right float-right">
        <img src="../../assets/three-dollars-footer-logo.png" alt="Footer Logo" />
    </div>
</div>